In [1]:
import pandas as pd
import os

lang_data = pd.read_csv(os.path.join("data", "cldf-datasets-wals-014143f", "raw", "language.csv"))
country_data = pd.read_csv(os.path.join("data", "cldf-datasets-wals-014143f", "raw", "country.csv"))
cl_data = pd.read_csv(os.path.join(
    "data", "cldf-datasets-wals-014143f", "raw", "countrylanguage.csv"
))

In [2]:
cl_data.shape

(3023, 4)

In [3]:
merged = pd.merge(
    pd.merge(
        cl_data,lang_data,
        how = 'inner',
        left_on = 'language_pk',
        right_on='pk'
    ),
    country_data,
    how="inner",
    left_on='country_pk',
    right_on='pk'
)

In [4]:
clean = merged[["id_x","name_x","latitude","longitude","id_y","name_y", "continent"]]

In [5]:
clean.value_counts("id_x")

id_x
ams    22
arg     7
lcr     7
ydd     5
knr     4
       ..
nic     1
nia     1
nhx     1
nhu     1
aab     1
Length: 2654, dtype: int64

In [6]:
clean[clean["id_x"]=="ams"]

,id_x,name_x,latitude,longitude,id_y,name_y,continent
386,ams,Arabic (Modern Standard),25.0,42.0,SD,Sudan,Africa
879,ams,Arabic (Modern Standard),25.0,42.0,KW,Kuwait,Asia
882,ams,Arabic (Modern Standard),25.0,42.0,SO,Somalia,Africa
884,ams,Arabic (Modern Standard),25.0,42.0,SY,Syria,Asia
887,ams,Arabic (Modern Standard),25.0,42.0,OM,Oman,Asia
893,ams,Arabic (Modern Standard),25.0,42.0,QA,Qatar,Asia
895,ams,Arabic (Modern Standard),25.0,42.0,EG,Egypt,Africa
901,ams,Arabic (Modern Standard),25.0,42.0,TN,Tunisia,Africa
903,ams,Arabic (Modern Standard),25.0,42.0,MA,Morocco,Africa
910,ams,Arabic (Modern Standard),25.0,42.0,LY,Libya,Africa
914,ams,Arabic (Modern Standard),25.0,42.0,KM,Comoros Islands,Africa
916,ams,Arabic (Modern Standard),25.0,42.0,JO,Jordan,Asia
918,ams,Arabic (Modern Standard),25.0,42.0,LB,Lebanon,Asia
923,ams,Arabic (Modern Standard),25.0,42.0,ER,Eritrea,Africa
933,ams,Arabic (Modern Standard),25.0,42.0,YE,Yemen,Asia
937,ams,Arabic (Modern Standard),25.0,42.0,SA,Saudi Arabia,Asia
940,ams,Arabic (Modern Standard),25.0,42.0,IQ,Iraq,Asia
950,ams,Arabic (Modern Standard),25.0,42.0,PS,Palestinian West Bank and Gaza,Asia
952,ams,Arabic (Modern Standard),25.0,42.0,DZ,Algeria,Africa
959,ams,Arabic (Modern Standard),25.0,42.0,AE,United Arab Emirates,Asia
960,ams,Arabic (Modern Standard),25.0,42.0,BH,Bahrain,Asia
963,ams,Arabic (Modern Standard),25.0,42.0,IL,Israel,Asia

In [7]:
clean.to_csv(r"data\lang_data.csv", index=False, header=["iso_code","lang_name","lat","long","country_id","country_name","continent"])